$height_header: 76px;

.header{
    background-color: #fff;
    height:$height_header;
    z-index: 100;
    width: 100%;
    position: fixed;
}

.headerItem{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: $height_header;
}

.imgLogo{
    img{
        width: 142px;
        height: 24px;
    }
}