.todoBox{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #ccc;
    padding: 8px 8px;
}

.settingTodo{
    text-align: end;
    padding-bottom: 4px;
    border-bottom: 0.3px solid #ccc;
}

.iconSettingEdit{
    margin-right: 7px;
    font-size: 16px;
    padding: 3px 0 3px 3px;
}

.iconSettingDelete{
    font-size: 16px;
    padding: 3px 3px 3px;
}

.tagInput{
    padding-top: 8px;
}

.tagPriority{
    width: 100%;
    margin-top: 8px;
    text-align: start;
}
